[Unit]
Description=Rclone Bisync Google Drive

[Service]
Type=oneshot

# Wait 15 seconds to ensure Wi-Fi connects after waking from sleep
ExecStartPre=/bin/sleep 15

# Point to the new auto-recovery script
ExecStart=/home/manokel/.local/bin/rclone_sync.sh

# This line creates the flag if the sync fails, and deletes it if it succeeds
ExecStopPost=/usr/bin/bash -c 'if [ "$EXIT_STATUS" != "0" ]; then touch %h/.rclone_error; else rm -f %h/.rclone_error; fi'

[Install]
WantedBy=default.target
