.ignore-in-parent-frame {
  body {
    /* A backup dark color that gets inverted to white if the sender didn't specify a color */
    color: #111111; 
    
    /* The magic inversion */
    -webkit-filter: invert(100%) hue-rotate(180deg) !important;
    filter: invert(100%) hue-rotate(180deg) !important;
  }
  
  /* Prevent images from looking like x-ray negatives */
  img, video, picture {
    -webkit-filter: invert(100%) hue-rotate(180deg) !important;
    filter: invert(100%) hue-rotate(180deg) !important;
  }
}
