* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#workspaces button {
    padding: 0 10px;
    color: #ffffff;
}

#workspaces button.active {
    background: #ffffff;
    color: #000000;
}

#clock, #pulseaudio, #battery {
    padding: 0 15px;
}
